<!-- ヘッダータブ表示 ----------------------------------------------------------------------------------------------------->
<div class = "header-tab-wrapper">
  <div class = "header-tab-container">
    <a class = "header-tab-click" href = "/">保有銘柄</a>
    <a class = "header-tab" href = "/stocks/new">新規取得</a>
    <a class = "header-tab" href = "performances">運用実績</a>
    <a class = "header-tab" href = "/users/account_info">アカウント</a>
  </div>
</div>
<div class = "possession-container">
  <div class = "possession-wrapper">
    <!-- DB更新後のメッセージ出力 ------------------------------------------------------------------------------------------>
    <% if flash[:update] || flash[:liquidation] %>
      <div class = "flash-message">
        <%= flash[:update] %>
        <%= flash[:liquidation] %>
      </div>
    <% end %>

    <!-- エラーメッセージ出力-->
    <div class = "form-error-wrapper">
      <% @user.errors.full_messages.each do |message| %>
        <div class="form-error"><%= message %></div>
      <% end %>
    </div>

    <!-- 保有銘柄 ------------------------------------------------------------------------------------------------------->
    <!-- 保有銘柄タイトル -->
    <div class = "hoyu">
      <img src = "/assets/hoyu.png" alt ="" width = "150" height = "42">
    </div>

    <!-- 保有銘柄表 -->
    <table class = "possession-table">
      <!-- カラム名表示 -->
      <thead>
        <tr class = "tr_possession">
          <th class = "th_possession s-code">銘柄<br>コード</th>
          <th class = "th_possession s-name">銘柄名</th>
          <th class = "th_possession t-type">取引<br>種別</th>
          <th class = "th_possession date">取得日</th>
          <th class = "th_possession o-quantity">保有株数</th>
          <th class = "th_possession s-tanka">平均取得単価</th>
          <th class = "th_possession c-price">時価</th>
          <th class = "th_possession pl-ratio">評価損益率</th>
          <th class = "th_possession pl-amount">評価損益額</th>
        </tr>
      </thead>
      <!-- レコード表示 -->
      <tbody>
        <!-- stocksにレコードがない場合はこちらを表示 -->
        <% if @stocks.nil? %>
          <tr class = "tr_possession">
            <td class = "td_possession s-code"></td>
            <td class = "td_possession s-name"></td>
            <td class = "td_possession t-type"></td>
            <td class = "td_possession date"></td>
            <td class = "td_possession o-quantity right">株</td>
            <td class = "td_possession s-tanka right">円</td>
            <td class = "td_possession c-price right">円</td>
            <td class = "td_possession pl-ratio right">％</td>
            <td class = "td_possession pl-amount right">円</td>
          </tr>
        <% else %>
          <!-- レコードを１つずつ出力 -->
          <% @stocks.each do |stock| %>
          <!-- 新規レコードに色付け -->
          <% if stock.id == flash[:id] %>
          <tr class = "tr_possession color-sign" data-href = "stocks/<%= stock.id %>/operation">
          <% else %>
          <tr class = "tr_possession" data-href = "stocks/<%= stock.id %>/operation">
          <% end %>
            <td class = "td_possession s-code"><%= stock.stock_code %></td>
            <td class = "td_possession s-name"><%= stock.stock_name %></td>
            <td class = "td_possession t-type"><%= transaction_type_helper(stock.transaction_type) %></td>
            <td class = "td_possession date"><%= stock.start_date.strftime("%y/%m/%d") %></td>
            <td class = "td_possession o-quantity right"><%= stock.owned_quantity.to_s(:delimited) %>株</td>
            <!-- 開始価格　少数の場合以外は整数型で出力 -->
            <% s_price = seisho_helper(stock.start_price.round(2)) %>
            <td class = "td_possession s-tanka right"><%= yen_helper s_price.to_s(:delimited) %></td>
            <% c_price = seisho_helper(stock.closing_price) %>
            <td class = "td_possession c-price right"><%= yen_helper c_price.to_s(:delimited) %></td>

            <!-- 買い売り判定　損益率＆損益額計算 -->
            <!-- 買いの場合 -->
            <% if stock.transaction_type != "03"%>
              <% pl_ratio = (stock.closing_price / stock.start_price - 1) * 100 %>
              <% pl_amount = ((stock.closing_price - stock.start_price) * stock.owned_quantity).to_i %>
              <% @total_Valuation_pl += pl_amount %>
            <!-- 売りの場合 -->  
            <% elsif stock.transaction_type == "03"%>
              <% pl_ratio = (1 - stock.closing_price / stock.start_price) * 100 %>
              <% pl_amount = ((stock.start_price - stock.closing_price) * stock.owned_quantity).to_i %>
              <% @total_Valuation_pl += pl_amount %>
            <% end %>

            <!-- 評価損益率・評価損益額 色づけ判定有り-->
            <% pl_ratio = pl_ratio.round(2) %>
            <% if pl_ratio > 0 %>
              <td class = "td_possession pl-ratio color-purple right"><%= seisho_helper(pl_ratio) %>％</td>
              <td class = "td_possession pl-amount color-purple right"><%= yen_helper pl_amount.to_s(:delimited) %></td>
            <% elsif pl_ratio < 0 %>
              <td class = "td_possession pl-ratio color-green right"><%= seisho_helper(pl_ratio) %>％</td>
              <td class = "td_possession pl-amount color-green right"><%= yen_helper pl_amount.to_s(:delimited) %></td>
            <% else %>
              <td class = "td_possession pl-ratio right"><%= seisho_helper(pl_ratio) %>％</td>
              <td class = "td_possession pl-amount right"><%= yen_helper pl_amount.to_s(:delimited) %></td>
            <% end %>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>

    <!-- サマリー ------------------------------------------------------------------------------------------------------->
    <!-- サマリータイトル -->
    <div class = "summary">
      <img src = "/assets/summary.png" alt ="" width = "140" height = "42">
    </div>

    <!-- サマリー表 -->
    <table class = "summary-table">
      <!-- カラム名表示 -->
      <thead>
        <tr class = "tr_possession2">
          <th class = "th_possession2 total-Valuation-pl">評価損益合計(Ａ)</th>
          <th class = "th_possession2 total-Realized-pl">実現譲渡損益合計(Ｂ)</th>
          <th class = "th_possession2 total-Dividend-pl">実現配当等損益合計(Ｃ)</th>
          <th class = "th_possession2 total-pl">総合損益(Ａ＋Ｂ＋Ｃ)</th>
        </tr>
      </thead>
      <!-- レコード表示 -->
      <tbody>
        <tr class = "tr_possession2">
          <!-- 評価損益合計 色づけ判定有り -->
            <% if @total_Valuation_pl > 0 %>
              <td class = "td_possession2 color-purple"><%= yen_helper(@total_Valuation_pl.to_s(:delimited)) %></td>
            <% elsif @total_Valuation_pl < 0 %>
              <td class = "td_possession2 color-green"><%= yen_helper(@total_Valuation_pl.to_s(:delimited)) %></td>
            <% else %>
              <td class = "td_possession2"><%= yen_helper(@total_Valuation_pl.to_s(:delimited)) %></td>
            <% end %>

            <!-- 実現譲渡損益合計 色づけ判定有り-->
            <% if @user.stock_pl_amount.nil? %>
              <td class = "td_possession2">0円</td>
            <% elsif @user.stock_pl_amount > 0 %>
              <td class = "td_possession2 color-purple"><%= yen_helper(@user.stock_pl_amount.to_s(:delimited)) %></td>
            <% elsif @user.stock_pl_amount < 0 %>
              <td class = "td_possession2 right color-green"><%= yen_helper(@user.stock_pl_amount.to_s(:delimited)) %></td>
            <% else %>
              <td class = "td_possession2"><%= yen_helper(@user.stock_pl_amount.to_s(:delimited)) %></td>
            <% end %>

            <!-- 実現配当損益合計 色づけ判定有り-->
            <% if @user.dividend_pl_amount.nil? %>
              <td class = "td_possession2">0円</td>
            <% elsif @user.dividend_pl_amount > 0 %>
              <td class = "td_possession2 color-purple"><%= yen_helper(@user.dividend_pl_amount.to_s(:delimited)) %></td>
            <% elsif @user.dividend_pl_amount < 0 %>
              <td class = "td_possession2 color-green"><%= yen_helper(@user.dividend_pl_amount.to_s(:delimited)) %></td>
            <% else %>
              <td class = "td_possession2"><%= yen_helper(@user.dividend_pl_amount.to_s(:delimited)) %></td>
            <% end %>

            <!-- 総合損益 色づけ判定有り-->
            <% if @user.dividend_pl_amount.nil? && @user.stock_pl_amount.nil? %>
              <% @total_pl = 0 %>
            <% elsif @user.stock_pl_amount.nil? %>
              <% @total_pl = @total_Valuation_pl + @user.dividend_pl_amount%>
            <% elsif @user.dividend_pl_amount.nil? %>
              <% @total_pl = @total_Valuation_pl + @user.stock_pl_amount %>
            <% else %>
              <% @total_pl = @total_Valuation_pl + @user.stock_pl_amount + @user.dividend_pl_amount %>
            <% end %>

            <% if @total_pl > 0 %>
              <td class = "td_possession2 color-purple"><%= yen_helper(@total_pl.to_s(:delimited)) %></td>
            <% elsif @total_pl < 0 %>
              <td class = "td_possession2 color-green"><%= yen_helper(@total_pl.to_s(:delimited)) %></td>
            <% else %>
              <td class = "td_possession2"><%= yen_helper(@total_pl.to_s(:delimited)) %></td>
            <% end %>
        </tr>
      </tbody>
    </table>
  </div>
</div>
